<!DOCTYPE html>
<html lang="en" xmlns:th xmlns:layout layout:decorate="~{layout.html}">
<head>
	<title>GitInsight</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="container px-5 py-5 position-relative">
			<div hx-ext="response-targets" class="row justify-content-md-center g-5 py-5">
				<div class="col-md-auto">
					<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">GitHub Insight</h1>
					<p class="lead text-center mb-5">Generate a summary of your recent coding activity</p>
					<div class="mb-3">
						<form th:object="${gitUser}">
							<div class="mb-3">
								<div class="input-group">
									<span class="input-group-text" id="form-git-url">https://github.com/</span>
									<input
											th:field="*{gitUsername}"
											type="text"
											class="form-control"
											id="gitUsername"
											placeholder="Enter your username"
											aria-describedby="form-git-url gitUsername"
									>
								</div>
							</div>
							<button
									class="w-100 btn btn-lg btn-light fw-bold"
									type="submit"
									hx-post="/api/git"
									hx-target="#quick-summary"
									hx-target-error="#any-errors"
									hx-swap="innerHTML">
								Generate Summary
								<span class="htmx-indicator spinner-border spinner-border-sm" aria-hidden="true"></span>
							</button>
						</form>
					</div>
				</div>
				<div class="col-md-auto">
					<div id="quick-summary">
						&nbsp;
					</div>
				</div>
				<div id="any-errors" class="position-absolute top-0 start-50 translate-middle">
					&nbsp;
				</div>
			</div>
			<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
				<div class="col">
					<div id="llm-swe" class="card border-secondary mb-4 rounded-3 shadow-sm">
						<div class="card-body">
							<h4 class="card-title d-flex align-items-center">
								<i class="bi bi-code-slash"></i>&nbsp;Software Architect
							</h4>
							<div id="llm-swe-content">
								<p class="card-text">Know a developer's technical abilities and the tangible impact
									of their code. It identifies both their strong suits and areas where they could
									enhance their skills further.</p>
								<button
										class="w-100 btn btn-lg btn-light fw-bold"
										type="submit"
										hx-post="/api/llm"
										hx-vals='{"llmPersonaCode": "SWE"}'
										hx-target="#llm-swe-content"
										hx-swap="innerHTML">
									Generate
									<span class="htmx-indicator spinner-border spinner-border-sm"
										  aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div id="llm-hr" class="card border-secondary mb-4 rounded-3 shadow-sm">
						<div class="card-body">
							<h4 class="card-title d-flex align-items-center">
								<i class="bi bi-people-fill"></i>&nbsp;HR Recruiter
							</h4>
							<div id="llm-hr-content">
								<p class="card-text">Evaluate a candidate's engagement with open-source projects and
									communication skills. Assess their potential fit for a SWE role
									and identify any potential red flags.</p>
								<button
										class="w-100 btn btn-lg btn-outline-light fw-bold"
										type="submit"
										hx-post="/api/llm"
										hx-vals='{"llmPersonaCode": "HR"}'
										hx-target="#llm-hr-content"
										hx-swap="innerHTML">
									Generate
									<span class="htmx-indicator spinner-border spinner-border-sm"
										  aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div id="llm-partner" class="card border-secondary mb-4 rounded-3 shadow-sm">
						<div class="card-body">
							<h4 class="card-title d-flex align-items-center">
								<i class="bi bi-heart-fill"></i>&nbsp;Potential Partner
							</h4>
							<div id="llm-partner-content">
								<p class="card-text">Understand somebody's interests, how they spend their time
									and tech interactions. Summarize their online persona and whether
									they would be a good fit for a partner.</p>
								<button
										class="w-100 btn btn-lg btn-light fw-bold"
										type="submit"
										hx-post="/api/llm"
										hx-vals='{"llmPersonaCode": "PARTNER"}'
										hx-target="#llm-partner-content"
										hx-swap="innerHTML">
									Generate
									<span class="htmx-indicator spinner-border spinner-border-sm"
										  aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>