<!DOCTYPE html>
<html lang="en" xmlns:th xmlns:layout layout:decorate="~{layout.html}">
<head>
	<title>GitInsight</title>
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/img/site.webmanifest}">
</head>
<body>
	<section layout:fragment="content">
		<div hx-ext="response-targets" class="container px-5 py-5 position-relative">
			<div class="row justify-content-md-center g-5 py-5">
				<div class="col-md-6 form-column text-center">
					<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">GitHub Insight</h1>
					<p class="lead text-center mb-5">Get a summary of your recent coding activity</p>
					<div class="w-75 mx-auto">
						<div class="mb-3">
							<form th:object="${gitUser}">
								<div class="mb-3">
									<div class="input-group">
										<span class="input-group-text" id="form-git-url">https://github.com/</span>
										<input
												th:field="*{gitUsername}"
												type="text"
												class="form-control"
												id="gitUsername"
												placeholder="Enter your username"
												aria-describedby="form-git-url gitUsername"
										>
									</div>
								</div>
								<button
										class="w-100 btn btn-lg btn-light fw-bold"
										type="submit"
										hx-post="/api/git"
										hx-target="#quick-summary"
										hx-target-error="#any-errors"
										hx-swap="innerHTML">
									Generate Summary
									<span class="htmx-indicator spinner-border spinner-border-sm" aria-hidden="true"></span>
								</button>
							</form>
						</div>
					</div>
					<a href="https://twitter.com/itskunalbhadra" target="_blank" class="btn btn-secondary d-inline-flex align-items-center gap-2 mt-4 fw-medium">
						<i class="bi bi-twitter-x"></i>
						Built by @itskunalbhadra
					</a>
				</div>
				<div class="col-md-6">
					<div class="w-75 mx-auto">
						<div id="quick-summary">
							<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
								<div class="carousel-inner">
									<!-- Slide 1 -->
									<div class="carousel-item active">
										<div class="card border-secondary mb-3 shadow">
											<div class="card-header bg-secondary">
												<div class="d-flex justify-content-between align-items-center">
													<a href="https://x.com/itskunalbhadra" target="_blank" class="text-decoration-none text-light fw-bold fs-5">
														@itskunalbhadra
													</a>
													<span class="fs-6">Creator, GitInsight</span>
												</div>
											</div>
											<div class="card-body">
												<ul class="list-group list-group-flush overflow-y-auto" style="max-height: 30vh;">
													<li class="list-group-item clearfix">Pushed 23 commits to kunal-bhadra/devlog</li>
													<li class="list-group-item clearfix">Pushed 15 commits to kunal-bhadra/cli-task-tracker</li>
													<li class="list-group-item clearfix">Starred 1 repo cheahjs/free-llm-api-resources</li>
													<li class="list-group-item clearfix">Pushed 1 commit to kunal-bhadra/task-tracker-cli</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Slide 2 -->
									<div class="carousel-item">
										<div class="card border-secondary mb-3 shadow">
											<div class="card-header bg-secondary">
												<div class="d-flex justify-content-between align-items-center">
													<a href="https://github.com/knadh" target="_blank" class="text-decoration-none text-light fw-bold fs-5">
														@knadh
													</a>
													<span class="fs-6">CTO, Zerodha</span>
												</div>
											</div>
											<div class="card-body">
												<ul class="list-group list-group-flush overflow-y-auto" style="max-height: 30vh;">
													<li class="list-group-item clearfix">Opened 1 pull request in zerodha/gokiteconnect</li>
													<li class="list-group-item clearfix">Pushed 3 commits to rainmatter-foundation/rainmatter.org</li>
													<li class="list-group-item clearfix">Commented on 1 issue in knadh/localStorageDB</li>
													<li class="list-group-item clearfix">Pushed 1 commit to knadh/koanf</li>
													<li class="list-group-item clearfix">Commented on 1 issue in knadh/smtppool</li>
													<li class="list-group-item clearfix">Pushed 1 commit to knadh/listmonk</li>
													<li class="list-group-item clearfix">Commented on 7 issues in knadh/listmonk</li>
													<li class="list-group-item clearfix">Pushed 1 commit to shubhsherl/dns.toys</li>
													<li class="list-group-item clearfix">Pushed 3 commits to knadh/dns.toys</li>
													<li class="list-group-item clearfix">Commented on 2 issues in knadh/dns.toys</li>
													<li class="list-group-item clearfix">Commented on 1 issue in zerodha/dungbeetle</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Slide 3 -->
									<div class="carousel-item">
										<div class="card border-secondary mb-3 shadow">
											<div class="card-header bg-secondary">
												<div class="d-flex justify-content-between align-items-center">
													<a href="https://github.com/levelsio" target="_blank" class="text-decoration-none text-light fw-bold fs-5">
														@levelsio
													</a>
													<span class="fs-6">Creator, PhotoAI.com</span>
												</div>
											</div>
											<div class="card-body">
												<ul class="list-group list-group-flush overflow-y-auto" style="max-height: 30vh;">
													<li class="list-group-item clearfix">Opened 2 issues in louis-e/arnis</li>
													<li class="list-group-item clearfix">Commented on 2 issues in louis-e/arnis</li>
													<li class="list-group-item clearfix">Opened 4 issues in dreamlayers/em-dosbox</li>
													<li class="list-group-item clearfix">Commented on 1 issue in dreamlayers/em-dosbox</li>
													<li class="list-group-item clearfix">Opened 1 issue in caiiiycuk/js-dos</li>
													<li class="list-group-item clearfix">Commented on 4 issues in caiiiycuk/js-dos</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="any-errors" class="position-fixed top-0 start-50 translate-middle" style="z-index: 9999;">
					&nbsp;
				</div>
			</div>
			<h2 class="display-6 fw-bold text-body-emphasis lh-1 mt-5 mb-3 text-center align-items-center">
				<i class="bi bi-stars"></i>&nbsp;Smart Summary
			</h2>
			<p class="lead fs-4 text-center my-4">Analyse your activity through the lens of unique personas.</p>
			<div class="row row-cols-1 row-cols-md-3 my-4">
				<div class="col">
					<div id="llm-swe" class="card border-secondary mb-4 rounded-3 shadow-sm">
						<div class="card-body">
							<h4 class="card-title d-flex align-items-center">
								<i class="bi bi-code-slash"></i>&nbsp;Software Architect
							</h4>
							<div id="llm-swe-content">
								<p class="card-text">Know a developer's technical abilities and the tangible impact
									of their code. It identifies both their strong suits and areas where they could
									enhance their skills further.</p>
								<button
										class="w-100 btn btn-lg btn-light fw-bold"
										type="submit"
										hx-post="/api/llm"
										hx-vals='{"llmPersonaCode": "SWE"}'
										hx-target="#llm-swe-content"
										hx-target-error="#any-errors"
										hx-swap="innerHTML">
									Generate!
									<span class="htmx-indicator spinner-border spinner-border-sm"
										  aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div id="llm-hr" class="card border-secondary mb-4 rounded-3 shadow-sm">
						<div class="card-body">
							<h4 class="card-title d-flex align-items-center">
								<i class="bi bi-people-fill"></i>&nbsp;HR Recruiter
							</h4>
							<div id="llm-hr-content">
								<p class="card-text">Evaluate a candidate's engagement with open-source projects and
									communication skills. Assess their potential fit for a SWE role
									and identify any potential red flags.</p>
								<button
										class="w-100 btn btn-lg btn-light fw-bold"
										type="submit"
										hx-post="/api/llm"
										hx-vals='{"llmPersonaCode": "HR"}'
										hx-target="#llm-hr-content"
										hx-target-error="#any-errors"
										hx-swap="innerHTML">
									Generate!
									<span class="htmx-indicator spinner-border spinner-border-sm"
										  aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div id="llm-partner" class="card border-secondary mb-4 rounded-3 shadow-sm">
						<div class="card-body">
							<h4 class="card-title d-flex align-items-center">
								<i class="bi bi-heart-fill"></i>&nbsp;Potential Partner
							</h4>
							<div id="llm-partner-content">
								<p class="card-text">Understand somebody's interests, how they spend their time
									and tech interactions. Summarize their online persona and whether
									they would be a good fit for a partner.</p>
								<button
										class="w-100 btn btn-lg btn-light fw-bold"
										type="submit"
										hx-post="/api/llm"
										hx-vals='{"llmPersonaCode": "PARTNER"}'
										hx-target="#llm-partner-content"
										hx-target-error="#any-errors"
										hx-swap="innerHTML">
									Generate!
									<span class="htmx-indicator spinner-border spinner-border-sm"
										  aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
				<a href="https://github.com/kunal-bhadra/git-insight" target="_blank" class="btn btn-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover d-inline-flex align-items-center gap-2 fs-5">
					<i class="bi bi-github"></i>
					Code Repo
				</a>
			</footer>
		</div>
	</section>
</body>
</html>