<!DOCTYPE html>
<html xmlns:th lang="en">
<head>
	<meta charset="UTF-8">
	<title>Git Summary</title>
</head>
<body>

	<div th:if="${gitSummary != null}">

		<div th:fragment="summary-list">
			<div class="card border-light mb-3 shadow">
				<div class="card-body">
					<ul class="list-group list-group-flush overflow-y-auto" style="max-height: 40vh;">
						<li th:each="line : ${gitSummary.split('(\r\n|\n)')}"
							th:if="${line.startsWith('Event:')}"
							th:text="${#strings.replace(line, 'Event:', '')}"
							class="list-group-item clearfix">
					</ul>
				</div>
			</div>
		</div>

		<div th:fragment="error">
			<div class="text-center">
				<div class="d-inline-block">
					<div th:if="${error}" class="alert alert-danger text-center alert-dismissible fade show" role="alert">
						<i class="bi bi-exclamation-triangle-fill"></i>
						<span th:text="${error}"></span>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</div>

		<div th:if="${not gitSummary.trim().isEmpty()}">
			<form method="post" th:action="@{/api/llm}">
				<label for="llmPersonaCode">Choose a persona:</label>
				<select id="llmPersonaCode" name="llmPersonaCode">
					<option value="SWE">Senior Software Architect</option>
					<option value="HR">HR Recruiter</option>
					<option value="PARTNER">Your Potential Partner</option>
				</select>
				<button type="submit">Generate LLM Summary</button>
			</form>
		</div>
	</div>

	<div th:fragment="llm-content">
		<div th:if="${llmResponse ne null and not llmResponse.isEmpty()}">
			<p th:text="${llmResponse}"></p>
		</div>
	</div>

</body>
</html>